<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Memos</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
</script>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/memos.css" />


</head>
<body>
<div class="container">

  <h1>Create a Memo</h1>

  <!-- Flashed messages before content -->
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <form role="form" class="memo_form">
    <div class="row">
        <div class="col-md-3">
        <input type="date" class="form-control"
         id="Date" value=""/>
      </div>
    </div>
    <div class="row">
       <div class="col-md-6">
         <input type="text" class="new-memo form-control"
           id="Memo" value="Memo" />
       </div>
    </div>
    <button type="submit" class="btn btn-primary" id="save-memo">Submit</button>
    <button type="button" class="btn btn-primary" id="cancel-memo">Cancel</button>
  </form>

  <script type="text/javascript">
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    $(document).ready(function(){
    // Do the following when the page is finished loading
      console.log("document ready and listening")
      $('#save-memo').click(
        //Save the dated memo in the database and redirect back to list
        function(event) {
          event.preventDefault();
          var date = $('#Date').val();
          var text = $('#Memo').val();

          if (date != "") {
            $.getJSON($SCRIPT_ROOT + '/_create',
                // The object to pass to the servers
                { mdate: date, mtext: text },
                // The function to call with the response
                function(data) {
                  var times = data.result;
                  //console.log("Got a response: " +  JSON.stringify(times));
                  window.location.href='/index';
              }); // End of the call to getJSON
          } else {
            console.log("date is empty");
            alert("You must fill in a date for your memo.");
          }
        }
      );

      $('#cancel-memo').click(function() {
        window.location.href='/index';
      });


    });
  </script>

</div>
</body>
</html>
